a {
  color: #ffff00;
  text-decoration: none;
}
a:hover {
  color: #ffff00;
  background: #ffaa00;
}
.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
  background: #bbbbbb;
}
.nav li a:hover {
  color: #bbbbbb;
  background: #000
}
.terminal {
  margin: 0 0 0 10px;
}
.terminal span {
  display: block;
}
.about {
  color: #55ffff
}
.name {
  display: flex;
  flex-wrap: wrap;
}
.name:has(.ascii-art:wrap) {
  border: 1px solid red;
}
.ascii-art {
  white-space: pre;
  margin: 0 10px 0 0;
}
.about-list {
  margin: 20px 0 40px 0;
}
